.forgot-password-paper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgot-password-title {
    margin-bottom: 20px;
  }
  
  .forgot-password-description {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .forgot-password-form {
    width: 100%; 
  }
  
  .forgot-password-submit {
    margin-top: 20px;
  }
  
.css-3su884-MuiPaper-root {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid gray !important;
  width: 30em !important;
  padding-top: 150px !;

}
